@use "../../utils/utils.scss" as *;
@use "../../utils/icons.scss" as *;

.checkpoint {
	ul,
	li {
		list-style-type: none;
	}
	li {
		&::before {
			@include icon();
			@extend %icon-check-double;
			color: var(--purple-mid-025);
			@include dark {
				color: rgba(186, 50, 255, 1); /* #BA32FF */
			}
		}
	}
}
