<button
	class="clipboardButton"
	data-is="clipboard-button"
	data-clipboard="currentURL"
	title="Copy url to clipboard"
	aria-pressed="false"
	aria-live="polite"
>
	<span class="clipboardButtonLabel">Copy URL to clipboard</span>
	<span data-clipboard-message="" aria-hidden="true"
		>Copied to clipboard!</span
	>
</button>
