<button
	class="{{ className }}"
	data-is="clipboard-button"
	data-clipboard="currentURL"
	title="Copy url to clipboard"
	aria-pressed="false"
	aria-live="polite"
>
	{{- content -}}
	<span data-is="clipboard-message" aria-hidden="true"
		>{{ typeof whenCopiedMessage == 'undefined' ? 'Copied to clibpboard!' : whenCopiedMessage }}</span
	>
</button>
