<div class="scrollingList">
	<h3 class="scrollingListHeader">
		<a href="#" class="scrollingListHeaderTitle">Recent Releases</a>
		<a href="glossary.html" class="scrollingListHeaderSeeMoreButton"
			>Search the Glossary</a
		>
		<div class="scrollingListControls" hidden>
			<button class="scrollingListControlsPrevious">
				<span>Previous Page</span>
			</button>
			<button class="scrollingListControlsNext">
				<span>Next Page</span>
			</button>
		</div>
	</h3>
	<div class="scrollingListContainer">
		<include
			src="src/components/gridItemsList/gridItemsList.html"
		></include>
	</div>
</div>
