<div class="emailCampaign">
    <form class="emailCampaignForm">
        <img class="emailCampaignImage" src="static/all-together.png" alt="" />
        <h4 class="emailCampaignTitle">
            <em>Free library</em> new releases straight to your inbox!
        </h4>
        <div class="emailCampaignField">
            <label
                class="emailCampaignFieldEmailLabel"
                for="emailCampaignFieldEmailInput"
                >Email</label
            >
            <input
                type="email"
                name="email"
                class="emailCampaignFieldEmailInput"
                placeholder="Enter your email"
                id="emailCampaignFieldEmailInput"
                required
            />
            <button
                type="submit"
                name="submit"
                class="emailCampaignFieldButton"
            >
                <span>Subscribe</span>
            </button>
        </div>
        <p class="emailCampaignDisclaimer">
            By subscribing, you agree to receive the latest announcements,
            releases, and sales from GDQuest. Read our
            <a href="#">privacy policy</a>
        </p>
    </form>
</div>
