@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;
@use "../../css/contentGrid.scss" as grid;

/******************************************************************************
 *
 * This element is quite complicated, so the styling is split in 4 parts;
 * - one part about generic resets
 * - one part about the wrapper, container, and button
 * - one part about the sliding logic
 * - one part about the list items
 *
 * On mobile, a bit of JS will press the button to hide the TOC on loading
 *****************************************************************************/

$buttonWidth: toRem(38);
$minNavBarWidth: grid.$sideBarWidthMin;
$navBarBreakpoint: grid.$mid-breakpoint + $minNavBarWidth;
// $headerHeight: toRem(96); // approximate height of the header
$navNegativeMarginSmall: toRem(48);
$navNegativeMarginLarge: toRem(105);

/******************************************************************************
 *
 * Generic resets
 *
 *****************************************************************************/

[data-is="article-toc"],
[data-is="article-toc"] ul,
[data-is="article-toc"] li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  align-items: start;
  align-content: start;
}

/******************************************************************************
 *
 * Wrapper; this controls the placement of the table of contents.
 * The srtucture is:
 * - Wrapper (sticky)
 *   - Container (absolute)
 *     - Pane (scrollable)
 *     - Button
 *
 *****************************************************************************/

.tableOfContents {
  &Wrapper {
    align-self: start;
    z-index: 2;
    position: sticky;
    justify-self: stretch;
    top: $navNegativeMarginSmall;
    margin-block-start: -4rem; // padding for the content page
    --icon-color: var(--purple-mid-025);
    @include dark {
      --icon-color: var(--purple-light-010);
      --icon-color: #E2A5FF;
    }
    @media (min-width: grid.$mid-breakpoint) {
      top: $navNegativeMarginLarge; //calc($headerHeight + $navNegativeMarginSmall);
    }
  }
  &Container {
    left: 0;
    transition: transform 0.2s ease-out;
    // width: 100%;
    min-width: $minNavBarWidth;
    //margin-block-start: - $navNegativeMargin;
    // @media (min-width: $navBarBreakpoint) {
    //   
    // }
  }
  &Pane {
    background-color: var(--purple-dark-040);
    //height: calc(100vh - $navNegativeMarginSmall);
    //height: calc(100svh - $navNegativeMarginSmall);
    overflow-y: scroll;
    background-color: #f8fafc;
    @include hideScrollBar();
    @media (min-width: grid.$mid-breakpoint) {
      height: calc(100vh - $navNegativeMarginLarge);// - $headerHeight);
      height: calc(100svh - $navNegativeMarginLarge); // - $headerHeight);
    }
    @include dark() {
      background: var(--purple-dark-040);
    }
  }
  &ToggleButton {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $buttonWidth;
    height: $buttonWidth;
    border-radius: 0 50% 50% 0;
    color: #6a38be;
    background-color: #eaeff3;
    border: 2px solid #e5e7eb;
    transform: translateX(100%);
    inset-inline-start: unset;
    inset-inline-end: 0;
    @include dark() {
      color: var(--purple-light-010);
      background-color: rgba(40, 28, 65, 1);
      border: 2px solid rgba(68, 35, 105, 1);
    }
    &::before {
      @include icon();
      font-size: 1.6rem;
      transition: transform 0.2s ease-out;
      @extend %icon-arrow-left-double-line;
    }
    span {
      @include srOnly();
    }
  }
}

/******************************************************************************
 *
 * Toggling logic
 *
 *****************************************************************************/

$buttonIconNormal: rotate(180deg);
$buttonIconTransform: rotate(180deg) scaleX(-1);

.tableOfContents {
  &Wrapper {
    grid-column: nav / nav;
  }
  &Container {
    position: absolute;
    pointer-events: none;
  }
  &Pane {
    opacity: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-property: opacity, transform;
    pointer-events: none;
    transform: translateX(-100%);
  }
  //@at-root .isToggled &Container {
  //  transform: translateX(0);
  //}
  @at-root .isToggled &Pane {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
  @at-root .isToggled &Container {
    pointer-events: auto;
  }
  &ToggleButton {
    &::before {
      transform: $buttonIconNormal;
    }
    @at-root .isToggled & {
      transform: translateX(calc($minNavBarWidth + 100%));
      &::before {
        transform: $buttonIconTransform;
      }
      @media (min-width: grid.$mid-breakpoint) {
        transform: translateX(100%);
      }
    }
  }
  @media (min-width: $navBarBreakpoint) {
    @at-root .isToggled &Container {
      position: static; // this allows the TOC to affect the layout and to scroll out of view once the bottom of the page is reached
    }
  }
}

/******************************************************************************
 *
 * Colors and general styling of the list items
 *
 *****************************************************************************/

.tableOfContents {
  &MainList {
    padding-block: 2.5rem;
  }
  &ListItem {
    position: relative;
    &.isCurrent {
      & > a,
      & > button {
        background-color: #ddd6fe;
      }
      @include dark() {
        & > a,
        & > button {
          background-color: var(--purple-dark-010);
        }
      }
    }
    // &:has(.isCurrent) {
    //   background-color: #F8FAFC;
    //   @include dark(){
    //     background-color: #5e2d8f4f; //var(--purple-dark-010);
    //   }
    // }
  }
  &ItemLevel1 {
    grid-template-areas: "title button";
    grid-template-columns: 1fr min-content;
    align-items: center;
    &.hasSubheadings {
      grid-template-areas: "title button" "subheadings subheadings";
    }
    & > a {
      grid-area: title;
    }
  }
  &ItemLevel2 {
    font-weight: 500;
  }
  &Anchor {
    text-decoration: none;
    padding-inline-start: 0.625rem;
    padding-inline-end: 1.25rem;
    //padding-block: toRem(17);
    gap: 0.625rem;
    font-weight: 600;
    align-items: center;
    display: flex;
    &Number{
      color: #6725D6;
      @include dark(){
        color: #BA32FF;
      }
      &::after{
        content: ". ";
      }
    }
    &LinkToH1 {
      text-transform: uppercase;
      font-weight: 700;
      min-height: toRem(70);
    }
    &LinkToH2 {
      justify-content: end;
      text-align: end;
      min-height: toRem(45);
    }
    &::after {
      content: "";
      position: absolute;
      inset-inline-end: 0;
      inset-block-start: 0;
      height: 100%;
      border-inline-end: 3px solid #ddd6fe;
      @include dark() {
        border-inline-end-color: var(--purple-dark-010);
      }
    }
    &.isActive::after {
      border-inline-end-color: #6725d6;
      @include dark() {
        border-inline-end-color: var(--purple-light-010);
      }
    }
    &.hasIconBefore::before {
      margin-inline-end: 0.2ch;
      top: -0.1ch;
      position: relative;
      font-size: 1.7rem;
    }
  }
  &SubheadingsContainer {
    grid-area: subheadings;
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.2s ease-out;
  }
  &SubheadingsList {
    overflow: hidden;
  }
  &FoldUnfoldButton {
    @include buttonReset();
    color: inherit;
    font-size: inherit;
    display: inline-block;
    cursor: pointer;
    grid-area: button;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    align-self: stretch;
    padding-inline: 0.3rem;
    &::before {
      @include icon();
      @extend %icon-arrow-left-s-line;
      transform: rotate(-180deg);
      transition: all 0.2s ease-out;
    }
    & > span {
      @include srOnly();
    }
    &[aria-expanded="true"] {
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
  &FoldUnfoldButton[aria-expanded="true"] + &SubheadingsContainer {
    grid-template-rows: 1fr;
  }
}
