{{ layout "/src/_base.vto" { pageTitle: "Register/Login", bodyclass: "authPage" } }}
<main>
  <div class="authFormFullPageWrapper">
      {{ include "/src/components/authForm/authForm.vto" }}
  </div>
</main>
{{ /layout }}