.challenge{
  --accent-color: var(--color-pink-main-on-dark);
  margin-top: 1rem;
  display: block;
  border-width: 1px;
  border-radius: .25rem;
  border-style: dashed;
  padding: 1.25rem;
  border-color: var(--accent-color);
  &Title, p:first-of-type{
    display: inline;
    margin: 0;
    padding: 0;
  }
  .hint{
    color: var(--accent-color);
  }
}