<section class="searchResultsGrid">
    <h4 class="searchResultsGridSummary">
        <span class="searchResultsGridSummaryAmount">1</span>
        result out of
        <span class="searchResultsGridSummaryTotal">114</span>
    </h4>

   {{ include "/src/components/gridItemsList/gridItemsList.html" }}

    <p class="searchResultsGridEndOfSearch">
        <span>End of library results</span>
    </p>
</section>