<section class="itemSummaryBrowser">
	<div class="itemSummaryBrowserDisplay">
		<div class="itemSummaryBrowserDisplayLoading"></div>
	<module href="/src/components/itemSummaryCard/itemSummaryCard.html"
		></module>
	</div>
	<div class="itemSummaryBrowserButtons">
		<a class="itemSummaryBrowserBrowseButton" href="search.html">
			<span
				class="itemSummaryBrowserButtonIcon itemSummaryBrowserBrowseButtonIcon"
				aria-hidden="true"
			></span>
			<span class="itemSummaryBrowserButtonLabel"
				>Browse the library</span
			>
		</a>
		<button class="itemSummaryBrowserRandomButton">
			<span
				class="itemSummaryBrowserButtonIcon itemSummaryBrowserRandomButtonIcon"
				aria-hidden="true"
			></span>
			<span class="itemSummaryBrowserButtonLabel"
				>Pull a random title</span
			>
		</button>
	</div>
</section>
