{{ if discord_invite }}
<div class="itemDiscordInviteContainer">
  <section class="itemDiscordInvite">
      <h4>This tutorial has a Discord channel!</h4>
      <p>Connect with fellow beginners and pros building games and learning.</p>
      <span>20,000 members</span>
      <a href="{{ discord_invite }}">Join Server</a>
  </section>
</div>
{{ /if }}