@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;

.itemDiscordInvite {
  display: grid;
  position: relative;
  max-width: 18rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  border-width: 1px;
  background-image: undefined;
  justify-items: start;
  text-align: start;
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  gap: 1rem;
  color: #5865f2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.31);
  background-image: linear-gradient(to bottom right, #e1e1f9, #edd9ff);
  @include dark(){
    color: white;
    background-image: linear-gradient(to bottom right, #6366f1, #9333ea);
    box-shadow: 1px 2px 0 rgb(0, 0, 0, 0.05);
  }
  @include showAsYouScroll();
  &::before {
    @include icon();
    @extend %icon-discord;
    position: absolute;
    display: inline-block;
    font-size: 4.5rem;
    top: -2rem;
    left: 50%;
    animation: swingWithPause 10s infinite 2s;
    transform-origin: bottom center;
    translate: -50%;
  }
  h4 {
    margin: 0;
    font-family: var(--font-title);
    font-weight: 900;
    font-size: 1.3125rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  p {
    margin: 0;
    font-size: 0.875rem;
    color: #727cec;
    @include dark(){
      color: rgb(224 231 255);
    }
  }
  span {
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
    &::before {
      @include icon();
      @extend %icon-group;
    }
  }
  a {
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: white;
    color: rgb(79, 70, 229);
    padding: 0.5rem 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    outline: 2px solid transparent;
    outline-offset: 2px;
    // box-shadow: 0 0 0 0px #fff, 0 0 0 calc(2px + 0px) rgb(59, 130, 246, 0.5), 0 0 #0000;
    flex-shrink: 0;
    transition: scale rotate;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.5, 1.8, 0.3, 0.8);
    &:hover {
      transform: scale(1.1, 1.1) rotate(2deg);
    }
  }
}
