<section class="glossarySearch">
	<h3>Search Glossary Terms</h3>
	<form>
		<input type="search" placeholder='Search for a term. eg: "node"' />
		<button type="submit">
			<span>Submit</span>
		</button>
	</form>
	<ul class="glossarySearchJumpLinks" role="list">
		<li><a href="#glossary-letter-a">a</a></li>
		<li><a href="#glossary-letter-b">b</a></li>
		<li><a href="#glossary-letter-c">c</a></li>
		<li><a href="#glossary-letter-d">d</a></li>
		<li><a href="#glossary-letter-e">e</a></li>
		<li><a href="#glossary-letter-f">f</a></li>
		<li><a href="#glossary-letter-g">g</a></li>
		<li><a href="#glossary-letter-h">h</a></li>
		<li><a href="#glossary-letter-i">i</a></li>
		<li><a href="#glossary-letter-j">j</a></li>
		<li><a href="#glossary-letter-k">k</a></li>
		<li><a href="#glossary-letter-l">l</a></li>
		<li><a href="#glossary-letter-m">m</a></li>
		<li><a href="#glossary-letter-n">n</a></li>
		<li><a href="#glossary-letter-o">o</a></li>
		<li><a href="#glossary-letter-p">p</a></li>
		<li><a href="#glossary-letter-q">q</a></li>
		<li><a href="#glossary-letter-r">r</a></li>
		<li><a href="#glossary-letter-s">s</a></li>
		<li><a href="#glossary-letter-t">t</a></li>
		<li><a href="#glossary-letter-u">u</a></li>
		<li><a href="#glossary-letter-v">v</a></li>
		<li><a href="#glossary-letter-w">w</a></li>
		<li><a href="#glossary-letter-x">x</a></li>
		<li><a href="#glossary-letter-y">y</a></li>
		<li><a href="#glossary-letter-z">z</a></li>
	</ul>
</section>
