[data-is="toggler-button"] {
	.whenNotToggled {
		display: block;
	}
	.whenToggled {
		display: none;
	}
	&[aria-expanded="true"] {
		.whenNotToggled {
			display: none;
		}
		.whenToggled {
			display: block;
		}
	}
}
