<div class="itemSummaryCardWrapper">
	<article class="itemSummaryCard">
		<span class="itemSummaryCardBackground" aria-hidden="true"></span>
		<h4 class="itemSummaryCardTitle">
			<a href="item.html">Create your first 3D Game from Zero</a>
		</h4>
		<h3 class="itemSummaryCardDate">2024/12/03</h3>
		<img
			class="itemSummaryCardCover"
			src="./components/itemSummaryCard/example.jpeg"
			alt=""
		/>
		<dl class="itemSummaryCardAttributes">
			<div>
				<dt>Type</dt>
				<dd><a href="">Learning Resource</a></dd>
			</div>
			<div>
				<dt>Format</dt>
				<dd>Video</dd>
			</div>
			<div>
				<dt>Version</dt>
				<dd><a href="search.html">Godot 4.x</a></dd>
			</div>
			<div>
				<dt>Subject Tags</dt>
				<dd class="itemSummaryCardAttributesTags">
					<ul>
						<li><a href="search.html">3D</a></li>
						<li><a href="search.html">Full Game</a></li>
					</ul>
				</dd>
			</div>
		</dl>
		<ul class="itemSummaryCardFeatures" role="list">
			<li>Downloadable Demo</li>
			<li>FAQ/Troubleshooting</li>
			<li>Bonus</li>
		</ul>
		<dl class="itemSummaryCardLicenses">
			<div>
				<dt class="itemSummaryCardLicensesCodeLabel">Code</dt>
				<dd>
					<ul role="list">
						<li>
							<a href="search.html">MIT</a>
						</li>
					</ul>
				</dd>
			</div>
			<div>
				<dt class="itemSummaryCardLicensesAssetsLabel">Assets</dt>
				<dd>
					<ul role="list">
						<li>
							<a href="search.html">CC By 4.0</a>
						</li>
					</ul>
				</dd>
			</div>
			<div>
				<dt class="itemSummaryCardLicensesAllElseLabel">All else</dt>
				<dd>Copyright 2016-2024, GDQuest</dd>
			</div>
		</dl>
		<dl class="itemSummaryCardDates">
			<dt>Created</dt>
			<dl>2024/10/12</dl>
			<dt>Updated</dt>
			<dl>2024/12/03</dl>
		</dl>
		<module href="/src/components/clapsButton/clapsButton.html" claps="45000"></module>
	</article>
</div>
