iframe[src*="youtube.com"],
iframe[src*="youtube-nocookie.com"], iframe[src*="vimeo.com"] {
	display: block;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: var(--rounded);
	aspect-ratio: 16 / 9;
	background: #999;
	&:not(:last-child) {
		margin-bottom: 1.125rem;
	}
}

.videoEmbed{
  padding:56.25% 0 0 0;
  position:relative;
  iframe[src*="youtube.com"], iframe[src*="youtube-nocookie.com"], iframe[src*="vimeo.com"]{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}