@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;

@mixin title() {
	font-weight: 900;
	font-size: 2rem;
	font-family: var(--font-title);
	position: relative;
}


/** Layout **/

.prose{
  & > h1{
    margin-block-start: toRem(75);
    margin-block-end: toRem(25);
    &.hasIconBefore{
      padding-inline-start: toRem(44);
      &::before{
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
        font-size: 2.2rem;
      }
    }
  }
  & > h1:first-of-type {
    margin-block-start: 0;
  }
  & > ul{
    margin-block-start: toRem(10);
  }
  & > h2{
    margin-block-start: toRem(40);
    margin-block-end: toRem(30);
  }
  & > h3 {
    margin-block-start: toRem(30);
    margin-block-end: toRem(20);
  }
  & > .videoEmbed{
    margin-block-end: 2.5rem;
  }
  & > .calloutsList {
    margin-block-start: 2.5rem;
  }
  & > .calloutsList + .calloutsList {
    margin-block-start: 0;
  }
}

.prose {
  display: grid;
  p, li{
    line-height: toRem(24);
  }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-block-start: 0;
  }
	&Title,
	h1 {
		@include title();
    text-transform: uppercase;
	}
	h2,
	h3,
	h4,
	h5 {
		font-family: var(--font-title);
	}
	h3,
	h4,
	a {
		color: var(--color-pink-main);
		@include dark {
			color: var(--color-pink-main-on-dark);
		}
	}
	h2 {
		font-weight: 700;
		font-size: 1.5rem;
		color: var(--purple-mid-025);
		@include dark {
			color: var(--purple-light-010);
		}
	}
	h3 {
		@include title();
		font-weight: 700;
		font-size: 1.25rem;
	}
}


.dark {
  .prose{
    &Title, h1{
      color: white;
    }
  }
}