@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;

.hint {
  color: currentColor;
  counter-increment: hint;
  position: relative;
  min-height: 1rem;
  margin-block-end: 0.5rem;
  .disclosureSummary {
    user-select: none;
    cursor: pointer;
    strong {
      &::after {
        content: counter(hint);
        margin-inline-start: 0.3ch;
      }
      margin-inline-start: 0.5ch;
    }
    &::after {
      content: none;
    }
    &:before {
      @include icon();
      @extend %icon-eye;
      margin-inline-end: 0.5ch;
    }
  }

  .disclosureSummary {
    display: grid;
    align-content: start;
    justify-content: start;
    grid-template-columns: auto 1fr;
  }

  .disclosureDetails {
    margin-inline-start: 2ch;
    top: -0.2rem;
    position: relative;
  }

  &.isJSProcessed {
    .disclosureSummary {
      position: absolute;
      inset: 0;
    }
    .disclosureDetails {
      transition: grid-template-rows 0.3s ease-out, opacity 0.3s ease-out;
    }
    .hintLabel {
      transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
      opacity: 0;
      pointer-events: none;
      max-height: 0;
    }
    .disclosureSummary[data-closed] {
      &::before {
        @extend %icon-eye-close;
      }
      .hintLabel {
        opacity: 1;
        pointer-events: all;
        max-height: 3rem;
      }
      & + .disclosureDetails {
        opacity: 0;
      }
    }
  }
}
