{{ layout "/src/_base.vto" { pageTitle: "Entry | Glossary", bodyclass: "glossaryEntryPage" } }}
	{{ include "/src/components/itemSummaryBrowserHero/itemSummaryBrowserHero.vto" }}
	<section class="contentPageGrid">
	{{ include "/src/components/tableOfContents/tableOfContents.vto" }}
		<main class="prose">
    {{ content }}
  </main>
  		{{ include "/src/components/itemPageMeta/itemPageMeta.vto" }}
	</section>
	{{ include "/src/components/contributeBlock/contributeBlock.vto" }}
{{ /layout }}
