@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;

%checkpointBullet{
  $iconSize: 1.3125rem;
  $iconSpacing: 0.3125rem;
  $marginBefore: 1.875rem;
  padding-block: 0.3125rem;
  padding-inline-start: calc($marginBefore + $iconSize + $iconSpacing);
  position: relative;
  &::before {
    @include icon();
    @extend %icon-check-double;
    color: var(--purple-mid-025);
    font-size: 1.3125rem;
    position: absolute;
    top: 0.3125rem;
    left: $marginBefore;
    @include dark {
      color: rgba(186, 50, 255, 1); /* #BA32FF */
    }
  }
}

.checkpointBullet{
  @extend %checkpointBullet;
}