@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;
@use "../../css/animation.scss" as *;

.clapsButton {
	@include buttonReset;
	justify-self: start;
	display: flex;
	grid-area: claps;
	flex-wrap: wrap;
	//gap: 0.3125rem;
	position: relative;
	justify-content: center;
	span {
		display: flex;
		align-items: center;
	}
	&Label {
		position: relative;
		&::before,
		&::after {
			@include icon;
			@extend %icon-clap;
			display: block;
			font-size: 1.4rem;
		}
		&::before {
			opacity: 0;
		}
		&::after {
			position: absolute;
			inset: 0 0;
		}
		& > span {
			@include srOnly;
		}
	}
	&Amount {
		position: relative;
		text-align: center;
		display: flex;
		justify-content: center;
		&Abbreviated, &Total{
			padding: 0.3125rem;
		}
		&Abbreviated {
			position: absolute;
		}
		&Total {
			transform: translateY(0);
			opacity: 0;
			background: grey;
			color: white;
			border-radius: 1rem;
		}
	}
	&[aria-pressed="true"] {
		.clapsButtonLabel::before {
			animation-name: clap, fadeOut;
			animation-duration: 0.5s;
			animation-timing-function: $easeOutBack;
		}
		.clapsButtonAmountTotal {
			animation: riseUp, fadeIn;
			animation-duration: 1s;
			animation-timing-function: ease-out;
		}
	}
  &Placeholder { // This is the placeholder for the claps button, remove once claps work
    height: 2.5rem; 
  }
}
