<section class="fontSizeResizer showWhenJSLoads" hidden>
    <button class="fontSizeResizerIncrease" title="Increase font size">
        <span>increase font size</span>
    </button>
    <button class="fontSizeResizerReset" title="Reset font size">
        <span>reset font size</span>
    </button>
    <button class="fontSizeResizerDecrease" title="Decrease font size">
        <span>decrease font size</span>
    </button>
</section>
