<li class="nodeFlashCard">
	<div class="nodeFlashCardHeader">
		<h3 class="nodeFlashCardHeaderTitle">CharacterBody3D</h3>
		<div
			class="nodeFlashCardHeaderIcon"
			aria-hidden="true"
			style="
				--node-icon: url(&quot;/src/components/nodeFlashCard/example.png&quot;);
			"
		></div>
	</div>
	<div class="nodeFlashCardBody">
		<span class="nodeFlashCardBadge">3D</span>
		<p class="nodeFlashCardShortDescription">
			Detects collisions and controls 3D character motion
		</p>
		<div class="nodeFlashCardUsage">
			<h4 class="nodeFlashCardUsageTitle">USE IT WHEN</h4>
			<p class="nodeFlashCardUsageText">
				You want to detects collisions with the environment and have
				full control over your 3D character's movement.
			</p>
		</div>
		<div class="nodeFlashCardExamples">
			<h4 class="nodeFlashCardExamplesTitle">EXAMPLES</h4>
			<ul class="nodeFlashCardExamplesList" role="list">
				<li>Handle physics interactions your way</li>
				<li>
					Design 3D platformer movement as in Mario or Crash Bandicoot
				</li>
				<li>Design First Person Shooter movement</li>
			</ul>
		</div>
	</div>
</li>
