@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;

.passwordContainer{
    display: flex;
    position: relative;
    input{
        padding-left: 1em;
        flex-grow: 1;
    }
    &RevealButton{
        @include buttonReset();
        position: absolute;
        inset-inline-end: 0;
        height: 100%;
        font-size: 1.4rem;
        height: 100%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            @include icon();
        }
        span{
            @include srOnly();
        }
    }
    input[type="text"] ~ &RevealButton::before{
        @extend %icon-eye-off;
    }
    input[type="password"] ~ &RevealButton::before{
        @extend %icon-eye;
    }
}