@use "./icons.scss" as *;
@use "./utils.scss" as *;
@use "./contentGrid.scss" as *;

:root {
  interpolate-size: allow-keywords;
  --icon-color: var(--purple-mid-025);
    @include dark {
      --icon-color: var(--purple-light-010);
    }
}

[hidden] {
  display: none;// !important;
}

.showWhenJSLoads[hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
  scroll-margin-block-start: 8rem;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: var(--purple-dark-040);
  color: white;
  scroll-behavior: smooth;
}

body {
  font-size: var(--base-font-size);
}

a {
  color: inherit;
}

.button {
  &Outline {
    padding: 1rem;
    gap: 0.2rem;
    border-radius: 5px;
    border: 1px solid currentColor;
  }
  &Login {
    @include flexCenter;
    &:before {
      @include icon;
      @extend %icon-user;
      order: 1;
    }
    &:after {
      content: "/";
      order: 2;
      margin-inline-start: 0.2rem;
    }
    span {
      order: 3;
    }
  }
  &Close {
    @include flexCenter;
    &:before {
      @include icon;
      @extend %icon-close;
    }
  }
}

/**
body:has([popover]:popover-open) {
    overflow: hidden;
    main {
        user-select: none;
        pointer-events: none;
    }
}
**/

.gdquestLogo,
.gdschoolLogo,
.githubLogo {
  background-image: url("/gdquest_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 1em;
  aspect-ratio: 2.8;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  &:hover {
    transform: scale(1.1);
  }
  span {
    @include srOnly;
  }
}

.gdschoolLogo {
  background-image: url("/gdschool_logo_dark.svg");
}

.githubLogo {
  background-image: url("/github_logo.svg");
  filter: drop-shadow(0 2px 1.77px rgba(0, 0, 0, 0.25));
}

a.socialLink {
  &::before {
    @include icon();
  }
  span {
    @include srOnly;
  }
  &[href*="youtube.com"],
  &[href*="youtu.be"],
  &[href*="youtube-nocookie.com"] {
    &::before {
      @extend %icon-youtube;
    }
  }
  &[href*="reddit.com"] {
    &::before {
      @extend %icon-reddit-fill;
    }
  }
  &[href*="twitter.com"],
  &[href*="x.com"] {
    &::before {
      @extend %icon-twitter;
    }
  }
  &[href*="discord.com"],
  &[href*="discord.gg"] {
    &::before {
      @extend %icon-discord;
    }
  }
}

.hasIconBefore {
  &::before {
    @include icon();
    position: relative;
    color: var(--icon-color);
  }
  &.icon-app {
    @extend %icon-window;
  }
  &.icon-download {
    @extend %icon-folder-download;
  }
  &.icon-question {
    @extend %icon-question-circle;
  }
  &.icon-bonus {
    @extend %icon-vip-diamond;
  }
  &.icon-contribute {
    @extend %icon-github-line;
  }
  &.icon-github {
    @extend %icon-github-line;
  }
  &.icon-patch {
    @extend %icon-patch;
  }
  &.icon-code{
    @extend %icon-terminal-window-fill;
  }
}

.listPage {
  @include listPage;
  /** for the purposes of demo only, remove in production */
  .scrollingList {
    &HeaderSeeMoreButton {
      display: none;
    }
    &:nth-child(8) {
      .scrollingListHeaderSeeMoreButton {
        display: flex;
      }
    }
  }
}

.contentPageGrid {
  display: grid;
  margin-inline: auto;
  padding-block: 4rem;
  @include contentGrid();
  main {
    grid-area: main;
    //display: grid;
    //grid-template-areas:"left main right";
    //grid-template-columns: 200px 1fr 200px;
    //& > * {
    //  //grid-area: main;
    //  //grid-column: -1 / 1;
    //}
  }
}
