@use "./icons.scss" as *;
@use "./utils.scss" as *;
@use "./contentGrid.scss" as *;
@use "globals.scss" as *;

:root {
  interpolate-size: allow-keywords;
}

[hidden] {
  display: none; // !important;
}

.showWhenJSLoads[hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
  scroll-margin-block-start: 8rem;
}

body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #F8FAFC;
  color: #303249;
  @include dark(){
    background-color: var(--purple-dark-040);
    color: white;
  }
}

body {
  font-size: var(--base-font-size);
}

a {
  color: inherit;
}

.button {
  &Outline {
    padding: 1rem;
    gap: 0.2rem;
    border-radius: 5px;
    border: 1px solid currentColor;
  }
  &Login {
    @include flexCenter;
    &:before {
      @include icon;
      @extend %icon-user;
      order: 1;
    }
    &:after {
      content: "/";
      order: 2;
      margin-inline-start: 0.2rem;
    }
    span {
      order: 3;
    }
  }
  &Close {
    @include flexCenter;
    &:before {
      @include icon;
      @extend %icon-close;
    }
  }
}

/**
body:has([popover]:popover-open) {
    overflow: hidden;
    main {
        user-select: none;
        pointer-events: none;
    }
}
**/

.gdquestLogo,
.gdschoolLogo,
.githubLogo {
  background-image: url("#{$basePath}/gdquest_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 1em;
  aspect-ratio: 2.8;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  &:hover {
    transform: scale(1.1);
  }
  span {
    @include srOnly;
  }
}

.gdschoolLogo {
  background-image: url("#{$basePath}/gdschool_logo_dark.svg");
}

.githubLogo {
  background-image: url("#{$basePath}/github_logo.svg");
  filter: drop-shadow(0 2px 1.77px rgba(0, 0, 0, 0.25));
}

a.socialLink {
  &::before {
    @include icon();
  }
  span {
    @include srOnly;
  }
  &[href*="youtube.com"],
  &[href*="youtu.be"],
  &[href*="youtube-nocookie.com"] {
    &::before {
      @extend %icon-youtube;
    }
  }
  &[href*="reddit.com"] {
    &::before {
      @extend %icon-reddit-fill;
    }
  }
  &[href*="twitter.com"],
  &[href*="x.com"] {
    &::before {
      @extend %icon-twitter;
    }
  }
  &[href*="discord.com"],
  &[href*="discord.gg"] {
    &::before {
      @extend %icon-discord;
    }
  }
}

.hasIconBefore {
  &::before {
    @include icon();
    margin-inline-end: 0.3ch;
    position: relative;
    top: 0.1ch;
    color: var(--icon-color);
  }
  &.icon-app {
    @extend %icon-window;
  }
  &.icon-download {
    @extend %icon-folder-download;
  }
  &.icon-question {
    @extend %icon-question-circle;
  }
  &.icon-bonus {
    @extend %icon-vip-diamond;
  }
  &.icon-contribute {
    @extend %icon-github-line;
  }
  &.icon-github {
    @extend %icon-github-line;
  }
  &.icon-patch {
    @extend %icon-patch;
  }
  &.icon-code {
    @extend %icon-terminal-window-fill;
  }
}

.listPage {
  @include listPage;
  /** for the purposes of demo only, remove in production */
  .scrollingList {
    &HeaderSeeMoreButton {
      display: none;
    }
    &:nth-child(8) {
      .scrollingListHeaderSeeMoreButton {
        display: flex;
      }
    }
  }
}

.contentPageGrid {
  display: grid;
  margin-inline: auto;
  padding-block: 4rem;
  @include contentGrid();
  main {
    grid-area: main;
    //display: grid;
    //grid-template-areas:"left main right";
    //grid-template-columns: 200px 1fr 200px;
    //& > * {
    //  //grid-area: main;
    //  //grid-column: -1 / 1;
    //}
  }
}

kbd {
  position: relative;
  top: -2px;
  white-space: nowrap;
  text-wrap-mode: nowrap;
  border-radius: 0.125rem;
  padding: 0.125rem 0.25rem;
  text-wrap: nowrap;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgb(243 244 246);
  color: rgb(31 41 55);
  box-shadow: 0 2px var(--un-shadow-color, #888);
  outline-width: 1px;
  outline-color: rgb(136 136 136);
  outline-style: solid;

  .keyOfSequence {
    &:after,
    &:before {
      color: rgb(96 165 250);
      @include dark() {
        color: rgb(147 197 253);
      }
    }
    &:after {
      content: "+";
      margin: 0 0.2em;
    }
    &:last-child::after {
      content: none;
    }
    &[class^="before:"]:before,
    &[class*=" before:"]:before {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
      position: relative;
      top: 0.27rem;
    }
  }

  .letters-1 {
    text-transform: uppercase;
  }
}

/** TODO: make Prism inline highlighting work */
// inline code
code:not([class]),
code[class=""],
:not(pre) > code.language-gdscript {
  background-color: rgba(203,213,225,.3);
  word-break: break-word;
  display: inline;
  padding: 0 toRem(3);
  font-family: var(--font-mono);
  @include dark(){
    background-color: rgb(73, 48, 121);
  }
}

/** for bots */
.super-important-woah {
  border: 0;
  opacity: 0.01;
  pointer-events: none;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
