@use "./utils.scss" as *;

$gridBreakPointMid: 69.5rem; // 1080px
$gridBreakPointLarge: 92rem; // 1440px
$gridMinMargin: 2.5rem;

// at 2560px, the columns are: 530 1000 530 on in ems: 33.125em 62.5em 33.125em
// at 1920px, the columns are: 400 990 530 or in ems: 25em 61.875em 33.125em
// at 1440px, the columns are: 320 660 360 or in ems: 20em 41.25em 22.5em
// the left column may collapse, at which point the remaining columns are:
// at 1440: 980 460 or in ems: 61.25em 28.75em

// total: 120rem
// fractions:2, 5, 2.75

@mixin gridSmall() {
	grid-template-columns:
		$gridMinMargin /* left margin */
		0 /** nav **/
		1fr /* main */
		$gridMinMargin; /* right margin */
	grid-template-areas:
		"marginLeft nav actions marginRight"
		"marginLeft nav main marginRight"
		"marginLeft nav meta marginRight";
	row-gap: 2rem;
}

@mixin gridMid() {
	// breakpoint is 41.25 + 3.75 + 22.5 = 67.5rem
	grid-template-columns:
		minmax($gridMinMargin, auto) /* left margin */
		0 /* nav */
		0 /* gutter */
		minmax(41.25rem, 62.5rem) // main
		3.75rem // gutter
		minmax(22.5rem, 33.125rem) // meta
		minmax($gridMinMargin, auto); // right margin
	grid-template-areas: "marginLeft nav gutterLeft main actions meta marginRight";
	row-gap: 0;
}

@mixin gridLarge() {
	// breakpoint is 20 + 2.5 + 41.25 + 3.75 + 22.5 = 90rem
	grid-template-columns: minmax($gridMinMargin, auto) // marginLfet
		minmax(20rem, 33.125rem) // nav
		minmax(2.5rem, 15.625rem) // gutterLeft
		minmax(41.25rem, 62.5rem) // main
		minmax(3.75rem, 15.625rem) // actions
		minmax(22.5rem, 33.125rem) // meta
		minmax($gridMinMargin, auto); // marginRight
}

@mixin contentGrid() {
	@include gridSmall();
	@media (min-width: $gridBreakPointMid) {
		@include gridMid();
	}
	@media (min-width: $gridBreakPointLarge) {
		@include gridLarge();
		@at-root .contentSidebarClosed #{&} {
			@include gridMid();
		}
	}
}
