@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;

.disclosureSummary {
  display: flex;
  align-items: center;
  position: relative;
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
  &::marker,
  &::-webkit-details-marker {
    font-size: 0;
    color: transparent;
    display: none;
  }
  &::after {
    @include icon();
    @extend %icon-arrow-left-s-line;
    transform: rotate(-90deg);
    transition: transform 300ms ease-out;
  }
  .collapsibleRevealButton {
    @include buttonReset();
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    span {
      @include srOnly();
    }
  }
  &[data-closed] {
    &::after {
      transform: rotate(-180deg);
    }
  }
}

.disclosureDetails {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.3s ease-out;
  & > &Content {
    min-height: 0;
    overflow: hidden;
    padding: 0;
    transition: padding 0.3s ease-out;
  }
}

.disclosureSummary[data-closed] + .disclosureDetails {
  grid-template-rows: 0fr;
}
