<figure class="quoteBubble">
	<blockquote class="quoteBubbleContents">
		{{- content -}}
	</blockquote>
	<figcaption class="quoteBubbleAuthor">
		<h4 class="quoteBubbleAuthorName">Nathan</h4>
		<h5 class="quoteBubbleAuthorTitle">Founder and teacher at GDQuest</h5>
	</figcaption>
</figure>
