.discordLetterInvite {
  --letter-width: 60px;
  --letter-height: 40px;
  --letter-shift: 30%;
  --letter-rotate: -15deg;
  --letter-color-inside: #27144f;
  position: relative;
  display: block;
  margin-block: 5rem;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transform-origin: bottom center;
    transform: rotate(var(--letter-rotate)) translate(0, var(--letter-shift));
    border-style: solid;
    border-width: var(--letter-height) var(--letter-width);
    z-index: 1;
    border-radius: 7px;
  }
  &::before {
    transform: rotate(var(--letter-rotate)) translate(0, calc(var(--letter-shift) + var(--letter-height) * -2));
    border-color: transparent transparent var(--letter-color-inside) transparent;
  }
  &::after {
    border-color: var(--letter-color-inside) #7121a8 #7d15c2 rgb(138, 54, 194);
    filter: drop-shadow(5px 15px 3px #22212280)
  }
  span {
    font-family: var(--font-mono);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.125rem;
    position: relative;
    display: block;
    color: black;
    padding: 1rem;
    margin-inline-start: calc(var(--letter-width) * 1.5);
    padding-inline-start: calc(var(--letter-width) * 0.5);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(to bottom left, #0000 50%, #0006 0) 100% 0 /
        1.7em 1.7em no-repeat,
      linear-gradient(-135deg, #0000 1.24em, #fff 0);
    animation-name: letterDisclose;
    animation-duration: 1s;
	animation-timeline: view();
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    white-space: nowrap;
    a {
      color: #5464ef;
    }
  }
}

@keyframes letterDisclose {
  from{
    max-width:20%;
  }
  80%{
    max-width: 100%;
  }
}