@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;
@use "../../css/contentGrid.scss" as *;

$shareWidgetBreakpoint: toRem(100);

.shareWidget {
  &Container{
    grid-area: actions;
    animation-name: fadeIn, slideUpALot;
    animation-duration: 1s;
    animation-timeline: view(block);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-range: entry 25% exit 75%;
    
    top: 8rem;
    gap: 2px;
    margin-block-start: 5rem;
    container-name: shareWidgetContainer;
		container-type: inline-size;
    @media (min-width: $mid-breakpoint){
      margin-inline: toRem(13);
      position: sticky;
    }
  }
  &Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
    color: #6A38BE;
    max-width: min-content;
    @include dark(){
      color: white;
    }
    @media (min-width: $mid-breakpoint){
      margin-inline: auto;
    }
    @container shareWidgetContainer (width > #{$shareWidgetBreakpoint}){
      flex-direction: row;
    }
  }
  &Separator{
    height: 1px;
    display: block;
    background-color: #B7A2DA;
    align-self: stretch;
    margin-inline: toRem(5);
    @container shareWidgetContainer (width > #{$shareWidgetBreakpoint}){
      width: 1px;
      height: unset;
      margin-block: toRem(5);
      margin-inline: toRem(0);
    }
  }
  .clapsButton{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    --icon-size: #{toRem(30)};
    font-size: toRem(14);
  }
	.clipboardButton {
		position: relative;
		padding: .3125rem;
		align-items: center;
		&:before {
			@include icon();
			@extend %icon-share;
			font-size: 1.5rem;
			anchor-name: --anchor-el;
		}
		&Label {
			@include srOnly();
		}
		& > [data-is="clipboard-message"] {
			position: absolute;
      color: white;
			position-anchor: --anchor-el;
			top: 0;
			right: 0;
			top: anchor(top);
			right: anchor(center);
			justify-self: anchor-center;
			transition: opacity 0.2s;
			background: black;
			padding: 0.25rem;
		}
		&[aria-pressed="true"] {
			& > [data-is="clipboard-message"] {
				opacity: 1;
			}
		}
	}
}
