<div class="shareWidget">
	{{ include "/src/components/clapsButton/clapsButton.vto" { claps: 45000 } }}
	{{ layout "/src/components/clipboardButton/clipboardButton.vto" { className: "clipboardButton" } }}
    <span class="clipboardButtonLabel">Copy URL to clipboard</span>
  {{ /layout }}
</div>
