<button title="Toggle theme" class="themeToggle" data-is="theme-toggle">
  <span class="themeToggleLabel">Toggle Theme</span>
  <span class="themeToggleIcons">
    <span class="themeToggleIconsIcon themeToggleIconsIconDark">
      <span>🌙</span>
    </span>
    <span class="themeToggleIconsIcon themeToggleIconsIconLight">
      <span>☀️</span>
    </span>
  </span>
</button>