<div class="itemPageMeta">
	<section class="itemPageMetaLinks">
		<h4>
			<span>More on <a href="search.html">"3D"</a></span>
		</h4>
		<ul>
			<li>
				<span>In the library</span>
				<ul>
					<li>
						<em>Glossary Entry:</em
						><a href="item.html">"Character Controller"</a>
					</li>
					<li>
						<a href="item.html"
							>3D character Movement in Godot in 6 minutes</a
						>
					</li>
				</ul>
			</li>
			<li>
				<span>In GDSchool</span>
				<ul>
					<li>
						<ol>
							<li>
								<a href="#"
									><em>M9.L2:</em> Character controller</a
								>
							</li>
							<li><a href="#">Top Down Movement</a></li>
							<li><a href="#">Pick Up Gamedev From Zero</a></li>
						</ol>
					</li>
					<li>
						<ol>
							<li>
								<a href="#"
									><em>M3.L4:</em> Coding player movement</a
								>
							</li>
							<li><a href="#">Gobot the Sorcerer</a></li>
							<li>
								<a href="#"
									>Learn 3D Gamedev Accross 3 genres</a
								>
							</li>
						</ol>
					</li>
				</ul>
			</li>
		</ul>
	</section>
	<module href="/src/components/promoGDSchool/promoGDSchool.html"></module>
	<a href="#" class="gdquestTeachingMethod">
		<span>LEARN MORE ABOUT GDQUEST’S UNIQUE TEACHING METHOD!</span>
	</>
</div>
