<form action="https://www.gdquest.com/search/" method="get" class="headerSiteSearch">
  <input
    type="search"
    name="s"
    placeholder="Search"
    class="headerSiteSearchInput"
  />
  <button type="submit" class="headerSiteSearchButton">
    <span>search</span>
  </button>
</form>