<pre {{ if it.line }}class="line-numbers"{{ /if }} data-start="{{ if it.line }}{{ it.line }}{{ else }}1{{ /if }}">{{ if it.file }}<span class="codeBlockFileName">{{file}}</span>{{ /if }}<code class="{{ if it.diff }}language-diff-gdscript{{ else }}language-gdscript{{ /if }}">{{ content }}</code></pre>
