<pre
  class="{{ typeof(line) !== 'undefined' ? 'line-numbers' : '' }}"
  data-start="{{ typeof(line) !== 'undefined' ? line : '1' }}"
><if condition="typeof(file) !== 'undefined' && file !== ''"><span class="codeBlockFileName">{{file}}</span></if><code class="{{ typeof(diff) !== 'undefined' ? 'language-diff-gdscript' : 'language-gdscript' }}"><content></content></code>
</pre>
