<nav class="mainNavWrapper">
  <a href="#" class="mainNavLogo gdquestLogo">
    <span>GDQuest</span>
  </a>

  <div id="main-menu" class="mainNavItemsList" popover>
    <button
      popovertarget="main-menu"
      aria-hidden="true"
      class="mainNavButtonClose buttonClose"
    >
      <span>close</span>
    </button>
    <a class="mainNavItem active" href="#">Free Library</a>
    <a class="mainNavItem" href="#">GDSchool</a>
    <a class="mainNavItem" href="#">Educator Hub</a>
    <a class="mainNavItem" href="#">GDQuest's Method</a>
    <module
      href="/src/components/fontSizeResizer/fontSizeResizer.html"
    ></module>
    <div class="mainNavSecondaryItems">
      <a href="#" class="buttonOutline buttonLogin">
        <span>Login</span>
      </a>
      <a href="https://discord.gg/87NNb3Z" class="socialLink">
        <span>Join us on Discord</span>
      </a>
    </div>
  </div>
  <button
    class="mainNavButtonOpen"
    popovertarget="main-menu"
    aria-hidden="true"
  >
    <span>menu</span>
  </button>
</nav>
