<!doctype html>
<html>
    <head>
        <title>{{ pageTitle }} | GDQuest</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ cssUrl }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="dark {{ bodyclass }}">
        <header class="mainNavContainer">
            {{ include "/src/components/mainNav/mainNav.vto" }}
        </header>

        {{ content }}

        {{ include "/src/components/footer/footer.vto" }}

        <script src="{{ jsUrl }}" type="module"></script>
    </body>
</html>
