{{ layout "/src/_base.vto" title="Register/Login" bodyclass="authPage" }}
    <main>
        {{ include "/src/components/authFormFullPageWrapper/authFormFullPageWrapper.vto" }}
    </main>
</module>

