<module href="/src/_base.html" title="Register/Login" bodyclass="authPage">
    <main>
        {{ include "/src/components/authFormFullPageWrapper/authFormFullPageWrapper.html" }}
    </main>
</module>

