<module href="/src/_base.html" locals='{"title":"Library", "bodyclass":"homePages"}'>
    <main id="main" class="listPage mainPage">
        {{ include "/src/components/welcomeText/welcomeText.html" }}
        
        {{ include "/src/components/carousel/carousel.html" }}
        {{ include "/src/components/mainSearch/mainSearch.html" }}
    
        {{ include "/src/components/scrollingList/scrollingList.html" }}
    
        {{ include "/src/components/emailCampaign/emailCampaign.html" }}
        <module href="/src/components/scrollingList/scrollingList.html"></module
        ><module href="/src/components/scrollingList/scrollingList.html"></module
        ><module href="/src/components/scrollingList/scrollingList.html"></module
        >{{ include "/src/components/scrollingList/scrollingList.html" }}
    
        <module
            href="./src/components/nodeFlashCardShuffler/nodeFlashCardShuffler.html"
        ></module>
    
        {{ include "/src/components/promoIntro/promoIntro.html" }}
    
        {{ include "/src/components/promoGDSchool/promoGDSchool.html" }}
    </main>
</module>
