<module href="/src/_base.html" locals='{"title":"Search", "bodyclass":"searchPage"}'>
    <main id="main" class="listPage">
        {{ include "/src/components/welcomeText/welcomeText.vto" }}
    
        {{ include "/src/components/carousel/carousel.html" }}
        {{ include "/src/components/mainSearch/mainSearch.html" }}
    
        {{ include "/src/components/searchResultsGrid/searchResultsGrid.html" }}
    
        {{ include "/src/components/emailCampaign/emailCampaign.html" }}
    
        {{ include "/src/components/promoIntro/promoIntro.html" }}
    
        {{ include "/src/components/promoGDSchool/promoGDSchool.html" }}
    </main>
</module>
