{{ include "/src/components/pageTaxonomy/pageTaxonomy.vto" { 
  title: "Godot 4", 
  cover: "https://picsum.photos/1200/600",
  description: "Items that use Godot 4, or are compatible with Godot 4. This includes images or other assets that are compatible with everything."
} }}