{{ layout "./layout.vto" { pageTitle: "Welcome to GDLibrary!" } }}

<main id="main" class="listPage mainPage">
    {{ include "/src/components/welcomeText/welcomeText.vto" }}
    
    {{ include "/src/components/carousel/carousel.html" }}
    {{ include "/src/components/mainSearch/mainSearch.html" }}

    {{ include "/src/components/scrollingList/scrollingList.html" }}

    {{ include "/src/components/emailCampaign/emailCampaign.html" }}
    {{ include "/src/components/scrollingList/scrollingList.html" }}
    {{ include "/src/components/scrollingList/scrollingList.html" }}
    {{ include "/src/components/scrollingList/scrollingList.html" }}
    {{ include "/src/components/scrollingList/scrollingList.html" }}

    {{ include "/src/components/nodeFlashCardShuffler/nodeFlashCardShuffler.html" }}

    {{ include "/src/components/promoIntro/promoIntro.html" }}

    {{ include "/src/components/promoGDSchool/promoGDSchool.html" }}
</main>

{{ /layout }}