@use "../../css/utils.scss" as *;
@use "../../css/icons.scss" as *;

.codeReference{
    margin-block-start: 2rem;
    display: grid;
    align-items: stretch;
    background-color: rgb(46 16 101);
    color: white;
    padding-block: 1.75rem;
    //grid-area: gutterLeft / actions;
    .disclosureSummary{
        cursor: pointer;
        h1, h2, h3, h4{
            font-family: var(--title);
            color: var(--color-coderef-title);
        }

        .codeReferenceTitle{
            position: relative;
            font-size: 2.25rem;
            padding-inline-start: 3.5rem;
            --icon-color: var(--color-coderef-title);
            @include dark(){
                --icon-color: var(--color-coderef-title);
            }
            &::before{
              margin-inline-end: 0.4ch;
              margin-inline-start: 0.4ch;
              top: 0.2ch;
              position: absolute;
              inset-inline-start: 0;
            }
        }
        &::after{
            color: var(--color-coderef-title);
            font-size: 2.3rem;
        }
    }
    &Content{
        padding: 1rem;
    }
}