<details open class="codeReference">
    <summary><h1 class="hasIconBefore iconCode">Code Reference</h1></summary>
    <div class="codeReferenceContent">
        <p>Here's the complete code for the {{ include "/src/components/fileInText/fileInText.vto" file="{{ file }}" }} script at the end of this lesson:</p>
        {{ content }}
    </div>
</details>