<details open class="codeReference">
    <summary>
    {{- layout "/src/components/sectionTitle/sectionTitle.vto" { icon: "code" } -}}
        {{- title || "Code Reference" -}}
    {{- /layout -}}
    </summary>
    <div class="codeReferenceContent">
        <p>Here's the complete code for the {{ include "/src/components/fileInText/fileInText.vto" { path: file } }} script at the end of this lesson:</p>
        {{ content }}
    </div>
</details>