{{ layout "/src/_base.vto" { pageTitle: title || "Item", bodyclass:"itemPage"} }}
	{{ include "/src/components/itemSummaryBrowserHero/itemSummaryBrowserHero.vto" }}
	<section class="contentPageGrid">
    <h1>{{ title }}</h1
	{{ include "/src/components/tableOfContents/tableOfContents.vto" }}
		<main class="prose">
      {{ content }}
    </main>
		{{ include "/src/components/shareWidget/shareWidget.vto" }}
		{{ include "/src/components/itemPageMeta/itemPageMeta.vto" }}
	</section>
{{ include "/src/components/contributeBlock/contributeBlock.vto" }}