<ul
    class="gridItemsList"
    role="group"
    aria-label="Recent Releases Items"
    aria-roledescription="grid"
>
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
    {{ include "/src/components/itemCard/itemCard.vto" }}
</ul>
