<ul
    class="gridItemsList"
    role="group"
    aria-label="Recent Releases Items"
    aria-roledescription="grid"
>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
    <include src="src/components/itemCard/itemCard.html"></include>
</ul>
