<ul
    class="gridItemsList"
    role="group"
    aria-label="Recent Releases Items"
    aria-roledescription="grid"
>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
    <module href="/src/components/itemCard/itemCard.html"></module>
</ul>
