<section class="promoGDSchool">
	<h5 class="promoGDSchoolTitle">
		Join us in
		<span class="promoGDSchoolTitleLogo">
			<span>GDSchool</span>
		</span>
	</h5>
	<div class="promoGDSchoolBody">
		<module href="/src/components/quoteBubble/quoteBubble.html"></module>
		<ul class="promoGDSchoolBodyList" role="list">
			<li>
				<a href="#">
					<img src="static/starter-kit.png" alt="Starter Kit" />
				</a>
			</li>
			<li>
				<a href="#">
					<img
						src="static/from-zero.png"
						alt="Learn Gamedev from Zero"
					/>
				</a>
			</li>
		</ul>
		<a href="#" class="promoGDSchoolBodyHighlightLink"
			>Check out GDSchool</a
		>
	</div>
</section>
